/actorbintree/target/
/actorbintree/project/target/
/actorbintree/project/project/target/
/actorbintree/submission.jar
/kvstore/target/
/kvstore/project/target/
/kvstore/project/project/target/
/kvstore/.idea
/kvstore/submission.jar
/protocols/target/
/protocols/project/target/
/protocols/project/project/target/
/protocols/.idea
/protocols/submission.jar
/streaming/target/
/streaming/project/target/
/streaming/project/project/target/
/streaming/.idea
/streaming/submission.jar
